footer {
    background: var(--color-primary);
    margin-top: 2rem;
    text-align: center;
    font-size: 1rem;
    bottom: 0;
}

footer a {
    color: var(--color-bg);
}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    max-width: 0 auto 3rem;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.footer__socials a {
    background: var(--color-bg);
    color: #fff;
    padding: 0.8rem;
    border: 1px solid transparent;
    border-radius: 0.7rem;
    display: flex;
    margin-bottom: 3rem;
    margin-top: 0;
}

.footer__socials a:hover{
    background: transparent;
    border-color: var(--color-bg);
    color: var(--color-bg);
}

.footer__copyright {
    color: var(--color-bg);
    text-align: center;
}


/* Media queries (Medium queries) */
@media screen and (max-width: 1024px) {
    header{
        height: 68vh;
    }
}

/* Media queries (Small devices) */
@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
    }
    .header_socials,
    .scroll__down {
        display: none;
    }
    .footer__socials{
        margin-bottom: 2.6rem;
    }

}